<ng-container *ngIf="budget$ | async as budget">
  <h1 mat-dialog-title>Payments</h1>
  <div mat-dialog-content class="content">
    <app-crud-table
      [columns]="columns"
      [dataSource]="payments$ | async"
      [canCreate]="canCreate$"
      [canEdit]="canEdit.bind(this)"
      (edit)="edit($event)"
      [canDelete]="canDelete.bind(this)"
      (delete)="delete($event)"
    ></app-crud-table>
  </div>
  <div mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-button color="primary" type="button" (click)="close()">Close</button>
  </div>
</ng-container>
