<nav *ngIf="!(loading$ | async)" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">ASL Bissieux</span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav mr-auto">
        <li *ngIf="active$ | async" class="nav-item">
          <a class="nav-link" routerLink="/budgets" routerLinkActive="active">
            Budgets
          </a>
        </li>
        <li *ngIf="administrator$ | async" class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            Users
          </a>
        </li>
      </ul>
      <app-user-menu class="ms-md-auto"></app-user-menu>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
  <div class="loading" *ngIf="loading$ | async">
    <div>Loading...</div>
  </div>
</div>
