.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > * input {
    width: 100%;
  }

  // Avoid scrolling with final checkbox
  &:after {
    content: " ";
    display: block;
    height: 10px;
  }
}
