<mat-toolbar>
  <div class="spacer"></div>

  <ng-container *ngFor="let action of toolbarActions">
    <button
      *ngIf="!action.loading$ || !(action.loading$ | async)"
      mat-icon-button
      type="button"
      (click)="action.func()"
      [matTooltip]="action.tooltip"
    >
      <span class="fa fa-{{ action.icon }}"></span>
    </button>

    <mat-progress-spinner
      *ngIf="action.loading$ && (action.loading$ | async)"
      mode="indeterminate"
      diameter="20"
      [matTooltip]="action.loadingTooltip || ''"
    >
    </mat-progress-spinner>
  </ng-container>

  <button
    mat-icon-button
    *ngIf="canRefresh"
    type="button"
    (click)="refresh()"
    [disabled]="loading$ | async"
    matTooltip="Refresh data"
  >
    <mat-icon>refresh</mat-icon>
  </button>

  <button
    mat-icon-button
    type="button"
    (click)="onEdit()"
    matTooltip="Create a new resource"
    [disabled]="!(canCreate$ | async)"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="table-container">
  <table
    mat-table
    matSort
    matSortDisableClear
    [class.invisible]="!(loaded$ | async)"
  >
    <!-- Allow to add custom column definitions -->
    <ng-content></ng-content>

    <!-- Generate model columns -->
    <ng-container *ngFor="let column of columnDefs$ | async">
      <ng-container [matColumnDef]="column.name">
        <ng-container *ngIf="column.canSort">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ column.sortColumn }}">{{ column.label }}</th>
        </ng-container>
        <ng-container *ngIf="!column.canSort">
          <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
        </ng-container>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!column.routeTo">{{ column.renderValue(row) }}</span>
          <a *ngIf="column.routeTo" [routerLink]="column.routeTo!(row)">{{ column.renderValue(row) }}</a>
        </td>
      </ng-container>
    </ng-container>

    <!-- Action column definition -->
    <ng-container matColumnDef="_actions_">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="(showActions$ | async) || (rowActions && rowActions!.length)">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button [disabled]="!(canEditRow(row) | async)" mat-menu-item (click)="onEdit(row)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button [disabled]="!(canDeleteRow(row) | async)" mat-menu-item (click)="onDelete(row)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <ng-container *ngFor="let action of rowActions">
              <button
                *ngIf="action.show(row)"
                [disabled]="action.disabled(row)"
                mat-menu-item
                (click)="action.func(row)"
                [matTooltip]="action.tooltip"
              >
                <mat-icon>{{ action.icon }}</mat-icon>
                <span>{{ action.label }}</span>
              </button>
            </ng-container>
          </mat-menu>
        </ng-container>
      </td>
    </ng-container>

    <ng-container *ngIf="columns$ | async as columns">
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" [class]="rowClass(row)"></tr>
      <tr *matNoDataRow>
        <td [attr.colspan]="columnsCount$ | async">
          <div class="no-result">
            <span *ngIf="!(error$ | async)">No result found</span>
            <span *ngIf="error$ | async as error" class="error">
              Error while loading data: {{ error!.message }} (HTTP
              {{ error!.origin.status }} {{ error!.origin.statusText }})
            </span>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>

  <div
    *ngIf="(loaded$ | async) && (loading$ | async)"
    class="loading"
  >
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
</div>

<div *ngIf="!(loaded$ | async)" class="loader">
  <p>Fetching data from server...</p>
  <mat-progress-spinner
    mode="indeterminate"
    diameter="32"
  ></mat-progress-spinner>
</div>
