<h2>
  <span class="title">Budgets</span>
  <span *ngIf="canCreate$ | async" class="actions">
    <button *ngIf="canCreate$ | async" type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#budget-form">
      <span class="fa fa-plus"></span>
      New budget
    </button>
  </span>
</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Draft</th>
      <th scope="col">Amount</th>
      <th scope="col">Paid</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let budget of budgets$ | async" [class]="budgetRowClass(budget)">
      <th scope="row">{{ budget.id }}</th>
      <td>{{ budget.label }}</td>
      <td>{{ budget.draft }}</td>
      <td>{{ budget.amount }} €</td>
      <td>{{ budget.paid }} €</td>
      <td>
        <button type="button" class="btn btn-sm" [routerLink]="['/budgets/', budget.id]">
          <span class="fa fa-eye"></span>
        </button>
      </td>
    </tr>
  </tbody>

  <app-edit-budget (cancel)="onCancelBudget()" (save)="onCreateBudget($event)"></app-edit-budget>
</table>
