<h2>Users</h2>

<app-crud-table
  [columns]="columns"
  [dataSource]="datasource"
  [canCreate]="canCreate$"
  [canEdit]="canEdit.bind(this)"
  (edit)="edit($event)"
  [canDelete]="canDelete.bind(this)"
  (delete)="delete($event)"
>
  <ng-container matColumnDef="enabled">
    <td mat-cell *matCellDef="let user">
      <mat-checkbox [checked]="user.enabled" disabled></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="admin">
    <td mat-cell *matCellDef="let user">
      <mat-checkbox [checked]="user.admin" disabled></mat-checkbox>
    </td>
  </ng-container>
</app-crud-table>
