<h1 mat-dialog-title>
  <ng-container *ngIf="!data.template">Create template</ng-container>
  <ng-container *ngIf="data.template">Update template</ng-container>
</h1>
<form [formGroup]="form" (submit)="submit()">
  <div mat-dialog-content class="content">
    <mat-form-field appearance="fill">
      <mat-label>Label</mat-label>
      <input matInput formControlName="label" [required]="true">
      <mat-error *ngIf="form.controls['label'].touched && form.controls['label'].invalid">
        <span *ngIf="form.controls['label'].errors!['required']">This field is mandatory</span>
        <span *ngIf="form.controls['label'].errors!['server']">{{ form.controls['label'].errors!['server'] }}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput formControlName="subject" [required]="true">
      <mat-error *ngIf="form.controls['subject'].touched && form.controls['subject'].invalid">
        <span *ngIf="form.controls['subject'].errors!['required']">This field is mandatory</span>
        <span *ngIf="form.controls['subject'].errors!['server']">{{ form.controls['subject'].errors!['server'] }}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput rows="15" formControlName="message" [required]="true"></textarea>
      <mat-error *ngIf="form.controls['message'].touched && form.controls['message'].invalid">
        <span *ngIf="form.controls['message'].errors!['required']">This field is mandatory</span>
        <span *ngIf="form.controls['message'].errors!['server']">{{ form.controls['message'].errors!['server'] }}</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="secondary" type="button" (click)="cancel()">Cancel</button>
    <div class="spacer"></div>
    <button mat-button color="primary" type="submit" [disabled]="form.invalid || !form.touched">Submit</button>
  </div>
</form>
