div.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 .label {
  &::before {
    content: " (";
  }

  &::after {
    content: ")";
  }
}

.mat-column-state {
  width: 0.5em;
  text-align: center;
}

.state {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  &.state-ok {
    background-color: green;
  }

  &.state-doing {
    background-color: orange;
  }

  &.state-ko {
    background-color: red;
  }
}

:host ::ng-deep {
  .payment-done * {
    fill: green;
  }

  .payment-doing * {
    fill: orange;
  }

  .payment-waiting * {
    fill: red;
  }
}

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
