<div *ngIf="budget$ | async as budget">
  <h2>
    <span class="title">{{ budget.label }}</span>
    <span *ngIf="budget.draft" class="label">draft</span>
  </h2>

  <mat-tab-group>
    <mat-tab *ngIf="cotisations$ | async as cotisations" label="Cotisations">
      <app-crud-table
        id="cotisations"
        [columns]="cotisationsColumns"
        [dataSource]="cotisations"
        [rowActions]="cotisationsRowActions$ | async"
      >
        <ng-container matColumnDef="state">
          <td mat-cell *matCellDef="let row">
            <ng-container [ngSwitch]="row.columns.state.display">
              <span *ngSwitchCase="STATE_OK" class="state state-ok"></span>
              <span *ngSwitchCase="STATE_DOING" class="state state-doing"></span>
              <span *ngSwitchCase="STATE_KO" class="state state-ko"></span>
            </ng-container>
          </td>
        </ng-container>
      </app-crud-table>
    </mat-tab>
    <mat-tab *ngIf="unitClasses$ | async as unitClasses" label="Map">
      <div class="map-container">
        <app-interactive-map
          [unitClasses]="unitClasses"
          [showNumbers]="false"
        ></app-interactive-map>
      </div>
    </mat-tab>
    <mat-tab label="Expenses">
      <app-crud-table
        id="expenses"
        [columns]="expensesColumns"
        [dataSource]="expenses$ | async"
        [canCreate]="canCreateExpense$"
        [canEdit]="canEditExpense.bind(this)"
        (edit)="editExpense($event)"
        [canDelete]="canDeleteExpense.bind(this)"
        (delete)="deleteExpense($event)"
      ></app-crud-table>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="!(budget$ | async)" class="loading">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>
