<a [routerLink]="['/budgets']">Back to budgets list</a>

<div *ngIf="(budget$ | async) as budget">
  <h2>
    <span class="title">{{ budget.label }}</span>
    <span *ngIf="budget.draft" class="label">draft</span>
    <span *ngIf="budgetActions$ | async" class="actions">
      <button *ngIf="canPublish$ | async" type="button" class="btn btn-sm btn-outline-warning" (click)="publish()">
        <span class="fa fa-save"></span>
        Publish
      </button>
      <button *ngIf="canEdit$ | async" type="button" class="btn btn-sm btn-outline-primary">
        <span class="fa fa-edit"></span>
        Edit
      </button>
      <button *ngIf="canDelete$ | async" type="button" class="btn btn-sm btn-outline-danger">
        <span class="fa fa-trash"></span>
        Delete
      </button>
    </span>
  </h2>

  <div id="expenses">
    <h3>
      <span class="title">Expenses</span>
      <span *ngIf="canCreateExpense$ | async" class="actions">
        <button *ngIf="canCreateExpense$ | async" type="button" class="btn btn-sm btn-outline-primary">
          <span class="fa fa-plus"></span>
          New expense
        </button>
      </span>
    </h3>
    <table class="table">
      <thead>
        <th scope="col">Label</th>
        <th scope="col">Amount</th>
        <th *ngIf="expenseActions$ | async" scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses$ | async">
          <td>{{ expense.label }}</td>
          <td>{{ expense.amount }} €</td>
          <td *ngIf="expenseActions$ | async" class="actions">
            <button *ngIf="canEditExpense$ | async" type="button" class="btn btn-sm btn-outline-primary">
              <span class="fa fa-edit"></span>
            </button>
            <button *ngIf="canDeleteExpense$ | async" type="button" class="btn btn-sm btn-outline-danger">
              <span class="fa fa-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <th scope="row">{{ budget.amount }} €</th>
          <th *ngIf="expenseActions$ | async"></th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div *ngIf="cotisations$ | async as cotisations" id="cotisations">
    <h3>Cotisations</h3>
    <table class="table">
      <thead>
        <th scope="col">Unit</th>
        <th scope="col">Address</th>
        <th scope="col">Share</th>
        <th scope="col">Amount</th>
        <th scope="col">Paid</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let cotisation of cotisations" [class]="cotisationRowClass(cotisation)">
          <td>{{ cotisation.unit!.number }}</td>
          <td>{{ cotisation.unit!.address }}</td>
          <td>{{ cotisation.unit!.share }}</td>
          <td>{{ cotisation.amount }} €</td>
          <td>{{ cotisation.paid }} €</td>
          <td class="actions">
            <button type="button" class="btn btn-sm btn-outline-secondary" [disabled]="!cotisation.payments?.length">
              <span class="fa fa-list-alt"></span>
            </button>
            <button *ngIf="canCreatePayment$ | async" type="button" class="btn btn-sm btn-outline-secondary">
              <span class="fa fa-plus"></span>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="3">Total</th>
          <th scope="row">{{ budget.amount }} €</th>
          <th scope="row">{{ budget.paid }} €</th>
          <th scope="row"></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
