<h1 mat-dialog-title>Preview of the template {{data.template.label}}</h1>
<form [formGroup]="form" (submit)="submit()">
  <div mat-dialog-content class="content">
    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <textarea matInput rows="15" formControlName="data" [required]="true"></textarea>
      <mat-error *ngIf="form.controls['data'].touched && form.controls['data'].invalid">
        <span *ngIf="form.controls['data'].errors!['required']">This field is mandatory</span>
        <span *ngIf="form.controls['data'].errors!['server']">{{ form.controls['data'].errors!['server'] }}</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="secondary" type="button" (click)="close()">Close</button>
    <div class="spacer"></div>
    <button mat-button color="primary" type="submit" [disabled]="form.invalid || !form.touched">Submit</button>
  </div>
</form>
