.sidenav-container {
  height: 100%;
  overflow-y: hidden;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.main-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  height: 100%;
  overflow-y: auto;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 2;
}

.mat-toolbar.mat-primary + *,
mat-sidenav {
  padding-top: 64px;
  padding-bottom: 1em;
}

#left-menu {
  > * .fa {
    margin-right: 1em;
    width: 1em;
  }
}
